@model MVCDemo.Models.View_Models.BlogPostVm

<h1>@Model.Blog.Title</h1>
<blockquote>@Model.Blog.Description</blockquote>

<hr />

<section>
    <h2>@Model.Article.Title</h2>
    <h3>@Model.Article.Author / @Model.Article.Posted</h3>
    <article>@Model.Article.Text</article>
</section>
